 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Learn</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>As a graduate student I am always actively attempting to pick up a new skill,
         whether it be based in statistics, coding or biological.</p>
    </div>
    <div class="tech">
      <h2>Build</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="icon fa fa-linkedin" aria-hidden="true"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>So others may implement the lessons I've learned, I attempt to code up some tools
         or simple exemplars on how coding can work</p>
    </div>
    <div class="tech">
      <h2>Teach</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Personally sharing knowledge has always been deeply rewarding, the lessons I upload
         here can hopefully do the same on a much larger scale</p>
    </div>
</div>
