 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Learn</h2>
      <i class="fas fa-university" aria-hidden="true"></i>
      <p>As a graduate student I am always actively attempting to pick up a new skill,
         whether it be based in statistics, coding or biological.</p>
    </div>
    <div class="tech">
      <h2>Build</h2>
      <i class="fab fa-r-project fa-sm" aria-hidden="true"></i>
      <i class="fab fa-python fa-sm" aria-hidden="true"></i>
      <i class="fas fa-terminal fa-sm" aria-hidden="true"></i>
      <p>So others may implement the lessons I've learned, I attempt to code up some tools
         or simple exemplars on how coding can work</p>
    </div>
    <div class="tech">
      <h2>Teach</h2>
      <i class="fas fa-chalkboard-teacher" aria-hidden="true"></i>
      <p>Personally sharing knowledge has always been deeply rewarding, the lessons I upload
         here can hopefully do the same on a much larger scale</p>
    </div>
</div>
