<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/ldpred.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> LDPred Derivation </h3>
    <p>I have been working to fill in the missing links within the method LDPred, which shrinks effect sizes in polygenic risk score calculations.  I have found a few errors, so please give a read and see if I am right.</p>
    <a class="project-link" href="https://kulmsc.github.io/ldpred/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/QGG.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Quantitative Genetics Notes </h3>
    <p>For the past semester I have been a TA in the Cornell course Quantiative Genetics and Genomics.  For the class I ran computer lab, making tutorial-like R-Markdowns that teach both coding and the fundamentals of conducting a GWAS</p>
    <a class="project-link" href="https://kulmsc.github.io/qgg_notes/">Check it out</a>
  </div>
</div>
